<section id="home">
  <div class="container-fluid d-none d-md-block">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="{{myimage1}}" alt="first" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="{{myimage2}}" alt="second" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="{{myimage3}}" alt="third" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="{{myimage4}}" alt="fourth" class="item">
      </ng-template>
    </ngb-carousel>


  </div>
</section>
